{% extends 'Inventory/documents/_doc_base.html' %}
{% block title %}Memo {{ ctx.code }}{% endblock %}
{% block body %}
<div class="doc-title">MEMORANDUM</div>

<table class="meta">
  <tr><td class="lbl">TO:</td><td>{{ ctx.memo_to }}</td></tr>
  <tr><td class="lbl">FROM:</td><td>{{ ctx.memo_from }}</td></tr>
  <tr><td class="lbl">DATE:</td><td>{{ ctx.date }}</td></tr>
  <tr><td class="lbl">SUBJECT:</td><td>{{ ctx.memo_subject }}</td></tr>
</table>

{% for p in paragraphs %}<p class="body">{{ p }}</p>{% endfor %}

{% if schedule %}{% include 'Inventory/documents/_schedule.html' %}{% endif %}

<div class="sign-block">
  <div class="sign-name">{{ ctx.memo_signatory_name|upper }}</div>
  {% if ctx.memo_signatory_title %}<div>{{ ctx.memo_signatory_title|upper }}</div>{% endif %}
</div>
{% endblock %}
