<!-- Add this to your existing navbar -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-file-alt"></i> Reports
    </a>
    <ul class="dropdown-menu" aria-labelledby="reportsDropdown">
        <li><a class="dropdown-item" href="{% url 'report-submission-list' %}">View Reports</a></li>
        <li><a class="dropdown-item" href="{% url 'report-submission-create' %}">New Report</a></li>
    </ul>
</li> 